-injars ..\application\target\AutoMaker.jar
-outjars AutoMakerObfuscated.jar
-injars 'D:\Development\NetBeansProjects\application\target\lib\RoboxBase-1.0.jar'
-outjars RoboxBase-1.0Obfuscated.jar
-injars ..\application\target\lib\CELTechCore-1.0-SNAPSHOT.jar
-outjars CELTechCore-1.0-SNAPSHOTObfuscated.jar
-injars ..\application\target\lib\Configuration-1.1.jar
-outjars Configuration-1.1Obfuscated.jar
-injars ..\application\target\lib\Stenographer-1.6.jar
-outjars Stenographer-1.6Obfuscated.jar

-libraryjars root\.jenkins\javaDistros\java-linux-x64\lib\rt.jar
-libraryjars root\.jenkins\javaDistros\java-linux-x64\lib\ext\jfxrt.jar
-libraryjars root\.jenkins\javaDistros\java-linux-x64\lib\jce.jar
-libraryjars ..\application\target\lib

-dontskipnonpubliclibraryclassmembers
-dontshrink
-printusage proguard.usage
-dontoptimize
-printmapping proguard.mapping
-dontusemixedcaseclassnames
-flattenpackagehierarchy ''
-keepattributes Exceptions,InnerClasses,Signature,Deprecated,SourceFile,LineNumberTable,LocalVariable*Table,*Annotation*,Synthetic,EnclosingMethod
-adaptresourcefilecontents **.fxml,META-INF/MANIFEST.MF
-verbose
-dontnote
-dontwarn org.joda.time.**,javax.jms.**,org.apache.commons.httpclient.**,org.apache.commons.**,javax.mail.**,org.apache.tools.**,org.apache.jackrabbit.**,com.jcraft.jsch.**,org.jdom.**,org.apache.avalon.**,javax.servlet.**,org.apache.log.**,org.apache.commons.**,org.codehaus.plexus.interpolation.**,com.ctc.wstx.**,com.sun.**,javafx.fxml.**,org.bytedeco.**


-keep,includedescriptorclasses,allowshrinking class * extends java.io.Serializable {
    static final long serialVersionUID;
    private static final java.io.ObjectStreamField[] serialPersistentFields;
    <fields>;
    private void writeObject(java.io.ObjectOutputStream);
    private void readObject(java.io.ObjectInputStream);
    java.lang.Object writeReplace();
    java.lang.Object readResolve();
}

-keepclassmembers,allowshrinking enum  * {
    <fields>;
    <methods>;
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep,allowshrinking class celtech.configuration.fileRepresentation.** {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.modelcontrol.ModelContainer {
    *** get**(...);
    *** set**(...);
    *** **Property(...);
}

-keep,allowshrinking class celtech.gcodetranslator.PrintJobStatistics {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.coreUI.controllers.** {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.configuration.slicer.NozzleParameters {
    <fields>;
    <methods>;
}

-keep,allowshrinking class jfxtras.** {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.web.CookieContainer {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.coreUI.components.** {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.configuration.datafileaccessors.** {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.configuration.slicer.** {
    <fields>;
    <methods>;
}

# Keep - Applications. Keep all application classes, along with their 'main'
# methods.
-keepclasseswithmembers public class com.javafx.main.Main,celtech.automaker.AutoMaker {
    public static void main(java.lang.String[]);
}
