-injars '../../application/target/lib/Configuration-1.3.jar'
-outjars Configuration-1.3Obfuscated.jar
-injars '../../application/target/lib/Stenographer-1.10.jar'
-outjars Stenographer-1.10Obfuscated.jar
-injars '../../application/target/lib/Licence-1.1.jar'
-outjars Licence-1.1Obfuscated.jar
-injars '../../application/target/lib/RoboxBase-1.3.jar'
-outjars RoboxBase-1.3Obfuscated.jar
-injars '../../application/target/lib/CELTechCore-1.3.jar'
-outjars CELTechCore-1.3Obfuscated.jar
-injars '../../application/target/Commissionator.jar'
-outjars CommissionatorObfuscated.jar

-libraryjars /home/wildfly/.jenkins/javaDistros11/linux-x64/jdk-11.0.2/jmods
-libraryjars '../../application/target/lib'

-dontskipnonpubliclibraryclassmembers
-dontshrink
-printusage proguard.usage
-dontoptimize
-printmapping proguard.mapping
-dontusemixedcaseclassnames
-flattenpackagehierarchy ''
-keepattributes Exceptions,InnerClasses,Signature,Deprecated,SourceFile,LineNumberTable,LocalVariable*Table,*Annotation*,Synthetic,EnclosingMethod
-adaptresourcefilecontents **.fxml,META-INF/MANIFEST.MF
-verbose
-dontnote

-keep class celtech.roboxcommissionator.components.** {
    <methods>;
}

-keep,includedescriptorclasses,allowshrinking class * extends java.io.Serializable {
    static final long serialVersionUID;
    private static final java.io.ObjectStreamField[] serialPersistentFields;
    <fields>;
    private void writeObject(java.io.ObjectOutputStream);
    private void readObject(java.io.ObjectInputStream);
    java.lang.Object writeReplace();
    java.lang.Object readResolve();
}

-keepclassmembers,allowshrinking enum  * {
    <fields>;
    <methods>;
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep class celtech.roboxbase.printerControl.model.HeadEEPROMData { <fields>; <methods>; }
-keep public class * extends celtech.roboxbase.comms.rx.RoboxRxPacket { <fields>; <methods>; }
-keep public class * extends celtech.roboxbase.comms.tx.RoboxTxPacket { <fields>; <methods>; }
-keep public class * extends celtech.roboxbase.i18n.languagedata.LanguageData { <fields>; <methods>; }
-keep public class celtech.roboxbase.comms.DetectedServer { *; }
-keep public class celtech.roboxbase.postprocessor.PrintJobStatistics { <fields>; <methods>; }

-keep,allowshrinking class celtech.configuration.fileRepresentation.** {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.roboxbase.configuration.fileRepresentation.** {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.modelcontrol.ModelContainer {
    *** get**(...);
    *** set**(...);
    *** **Property(...);
}

-keep,allowshrinking class celtech.coreUI.controllers.** {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.roboxbase.configuration.slicer.NozzleParameters {
    <fields>;
    <methods>;
}

-keep,allowshrinking class jfxtras.** {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.web.CookieContainer {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.coreUI.components.** {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.roboxbase.configuration.datafileaccessors.** {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.modelcontrol.ItemState {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.roboxbase.configuration.slicer.** {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.roboxbase.configuration.fileRepresentation.** {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.roboxbase.comms.remote.clear.** {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.roboxcommissionator.controllers.** {
    <fields>;
    <methods>;
}

# Keep - Applications. Keep all application classes, along with their 'main'
# methods.
-keepclasseswithmembers public class com.javafx.main.Main,celtech.roboxcommissionator.RoboxCommissionator {
    public static void main(java.lang.String[]);
}
