-injars ../../application/target/Root.jar
-outjars rootObfuscated.jar
-injars '../../application/target/lib/RoboxBase-1.0.jar'
-outjars RoboxBase-1.0Obfuscated.jar
-injars '../../application/target/lib/Configuration-1.1.jar'
-outjars Configuration-1.1Obfuscated.jar
-injars '../../application/target/lib/Stenographer-1.8.jar'
-outjars Stenographer-1.8Obfuscated.jar

-libraryjars /home/wildfly/.jenkins/javaDistros/java-linux-x64/lib/rt.jar
-libraryjars /home/wildfly/.jenkins/javaDistros/java-linux-x64/lib/ext/jfxrt.jar
-libraryjars /home/wildfly/.jenkins/javaDistros/java-linux-x64/lib/jce.jar
-libraryjars '../../application/target/lib'

-dontskipnonpubliclibraryclassmembers
-dontshrink
-printusage proguard.usage
-dontoptimize
-applymapping ../proguard.mapping.input
-printmapping proguard.mapping
-dontusemixedcaseclassnames
-flattenpackagehierarchy ''
-keepattributes Exceptions,InnerClasses,Signature,Deprecated,SourceFile,LineNumberTable,LocalVariable*Table,*Annotation*,Synthetic,EnclosingMethod
-adaptresourcefilecontents **.fxml,META-INF/MANIFEST.MF
-verbose
-dontnote

-keep class org.codehaus.** { *; }
-keep class jfxtras.** { *; }

-keep,includedescriptorclasses,allowshrinking class * extends java.io.Serializable {
    static final long serialVersionUID;
    private static final java.io.ObjectStreamField[] serialPersistentFields;
    <fields>;
    private void writeObject(java.io.ObjectOutputStream);
    private void readObject(java.io.ObjectInputStream);
    java.lang.Object writeReplace();
    java.lang.Object readResolve();
}

-keep class celtech.roboxbase.printerControl.model.HeadEEPROMData { <fields>; <methods>; }
-keep public class * extends celtech.roboxbase.comms.rx.RoboxRxPacket { <fields>; <methods>; }
-keep public class * extends celtech.roboxbase.comms.tx.RoboxTxPacket { <fields>; <methods>; }
-keep public class * extends celtech.roboxbase.i18n.languagedata.LanguageData { <fields>; <methods>; }
-keep public class celtech.roboxbase.comms.DetectedServer { *; }
-keep public class celtech.roboxbase.postprocessor.PrintJobStatistics { <fields>; <methods>; }

-keepclassmembers,allowshrinking enum  * {
    <fields>;
    <methods>;
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep,allowshrinking class celtech.roboxremote.RoboxRemoteConfiguration {
    public <methods>;
}

-keep,allowshrinking class celtech.roboxremote.rootDataStructures.** {
    <fields>;
    <methods>;
}

# Keep - Applications. Keep all application classes, along with their 'main'
# methods.
-keepclasseswithmembers public class com.javafx.main.Main,celtech.roboxremote.Root {
    public static void main(java.lang.String[]);
}
