body {
	font-family:'Source Sans Pro', sans-serif;
}

.canvas-blue {
	background-color:#009ee3;
}

h1 {
	font-size:5vh;
	margin:0px;
	color:#009ee3;
	text-align:center;
}

.no-touch-action {
	touch-action:none;
}

.row {
	margin-left:0px;
	margin-right:0px;
}

.splash {
	width:60vh;
	height:100vh;
	padding:0px;
	background-color:#009ee3;
}
