[Unit]
Description=Start Motion for USB webcam in pause mode (no motion detection)

[Service]
Type=oneshot
ExecStart=/home/pi/ARM-32bit/Common/bin/startMotion.sh
RemainAfterExit=yes
